@use './utils.scss' as style;

.compact-chat {
	display: flex;
	align-items: flex-start;
	gap: 10px;
	padding: 8px;
	border: 1px solid style.$col;
	background-color: style.$col;
	border-radius: 8px;
	color: black;
	&__container {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 300px;
	}

	&__info {
		display: flex;
		align-items: center;
	}
	&__img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		object-fit: cover;
	}

	&__last-message,
	&__name,
	&__time {
		margin: 0;
	}

	&__time {
		margin: 0 0 0 auto;
	}
}
