.profile {
  display: flex;

  &__content {
    margin: 100px auto auto;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 8px;
  }

  &__img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto;
  }

  &__text,
  &__title {
    text-align: center;
    margin: 0;
  }

  &__title {
    margin: 10px 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
