$bgCol: #f0f2f6;
$col: #ffffff;
$yourMesCol: #2c70e4;
$messCol: #eef0f2;
$textCol: #0f1318;
$selectedChat: #e9f0fc;
$menuTextCol: #636573;
$grad: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$borderGradCol: #bc9cff;
