$bgCol: #f0f2f6;
$col: #ffffff;
$yourMesCol: #2c70e4;
$messCol: #eef0f2;
$textCol: #0f1318;
$selectedChat: #e9f0fc;
$menuTextCol: #636573;
$grad: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$borderGradCol: #BC9CFF;